.jumbotron {
    color: rgb(255, 255, 255);
    padding-bottom: 10px;
    max-width: 100%;
    background-position: left;
    background-color: black;
    background-repeat: no-repeat;
    max-height: 100%;
    border-color: black;

}

body {
    background-image: url("../images/Squadron\ Background.png");
    border-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    font-family:  'Oswald', sans-serif;

}


#quizForm {
    background-color: whitesmoke;
    padding: 2%;
    padding-left: 7%;
}

.results {
    background-color: whitesmoke;
    margin: 2%;
}


#searchBar {
    margin-bottom: 30px;
    background-color: whitesmoke;
}

#surveycard {
    background-color: whitesmoke;
}

#card-image{
    width: 5px;
    height: 5px;
}

.giffyResult {
    max-height: 100%;
    max-width: 100%;
}

#submit-btn {
    margin-top: 5%;
}



.yelpLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70px;
    height: 40px;
}
