body{
	background: url("../images/New_York_Battle.PNG.png");
    background-size: auto;

}
.jumbotron{
    background-color: yellow;

}


h1{
    font-family: 'Bahianita', cursive;  
}

#addhero{
    background-color: white;
}