* {
  box-sizing: border-box;
}




body {
  font-family: 'Cardo', serif;
 }
 
 h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
 }

.navbar{
  margin-bottom: 20px;
}

#photoRow{
margin-top: 100px;


}

.navPosition {
  padding-bottom: 7%;;
}

.navBorder:hover {
  background-color: black;
  color: #A5CFC9;
  padding: 2%;
  border-radius: 5px;
  padding-bottom:7%;
}


.profilePic {
  width: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
 
}

.masthead {
  padding-top: 0%;
  background-image: url("../images/backdrop.jpg") !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
}

.introDiv {
  padding-bottom: 5%;
  text-align: center;
  font-weight: bold;
  
}

.name{
  font-size: 30px;
}

.profession{
  font-size: 30px;
}

.skills{
  font-size: 30px;
}


.aboutSection{
 text-align: center;
 background-color: skyblue;
 color: black;
 padding-bottom: 10%;
 padding-top: 5%;
}

.aboutParagraph {
  text-align: left;
  color:black;
  font-weight:bolder;
  font-size: 150%;
}

.portfolio {
  color:  black !important;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  background-image: url("../images/backdrop.jpg") !important;
}

.thumbnailWrapper {
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}

.imgMod {
  width: 100%;
  height: 100%;
  padding: 2%;;
  border-style: solid;
  border-color: black;
  border-width: medium;
  margin: 3%;
  margin-bottom: 5%;
  margin-top: 5%;
}

.contact {
  text-align: center;
  padding-top: 1%;
  padding-bottom: 2%;
}

.bg-info{
  background-color: rgb(243, 181, 65) !important;
}

button {
  border-radius: 5px;
  margin-bottom: 1%;
  background-color: #A5CFC9;
  border-color: black;
  padding-bottom:7px;
}

button:hover {
  background-color: black;
  color: #A5CFC9;
}

#social{
  font-size: 100px;
  width:150px;
}

.footer {
  text-align: center;
  background-image: url("../images/backdrop.jpg") !important;
  color:black;
  font-size: 100%;
  padding: 1%;
}

#footerbar{
  text-align: center;
}

#blink {
  border: 10px solid white;
  /* width: 16px;
  height: 16px;
  margin-right: 5px; */
  box-shadow: 0px 0px 6px ghostwhite;
  /* position: relative; */
  /* top: -3px; */
}

/* .first {
  width: 100%;
  height: 1000px;
  background: #ccc;
}

.second {
  width: 100%;
  height: 1000px;
  background: #999;
} */